.wrapper {
  height: 100%;
  flex: 1;
  flex-direction: row-reverse;
  display: flex;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--secondaryFont);
  line-height: 180%;
}

.img {
  width: 500px;
  height: fit-content;
  transform: rotate(180deg) translateY(159px);
}
