.head {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: #fbead2;
  padding-block: 128px;
}

.imgWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 4.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.description {
  font-size: 1.3rem;
  color: #44484b;
  max-width: 500px;
}

.sillyWrapper {
  position: absolute;
  bottom: -32px;
  left: 64px;
  transform: rotate(35deg);
}

.arrow {
  width: 32px;
  position: absolute;
  bottom: 0;
  right: -42px;
  bottom: 16px;
  transform: rotate(-15deg);
}
