.head {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: #fbead2;
  padding-block: 64px;
  text-align: center;

  @media (max-width: 768px) {
    padding-block: 48px;
  }
}

.title {
  font-size: 4.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.text {
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  line-height: 180%;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
