.wrapper {
  display: flex;
  gap: 48px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.img {
  border: 8px solid #fff;
  border-radius: 12px;
  outline: 3px solid var(--burntOrange);
}

.upload {
  flex: 1;
  width: 100%;
  border: 3px solid var(--burntOrange);
  height: fit-content;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: #fffcf7;
}

.title {
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
  text-transform: uppercase;
}

.submitWrapper {
  height: 400px;
  border: 2px solid var(--pepper);
  border-radius: 12px;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}

.submitInner {
  border: 2px dashed #9a8c7d;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  inset: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  transition: all 0.25s ease;
  &:hover {
    border-color: #f7854e;
  }
}

.dropText {
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  outline: none;
  border: none;
  background: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  border: 2px solid var(--text);
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  font-family: var(--secondaryFont);

  &:hover {
    opacity: 0.7;
  }
}

.grid {
  display: grid;
  position: absolute;
  inset: -24px;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.gridItem {
  width: 100%;
  height: 100%;
  border: 1px solid var(--text);
  border-radius: 12px;
  opacity: 0.05;
  pointer-events: none;
}

.uploadTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.uploadDescription {
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--secondaryFont);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 2px solid var(--pepper);
  border-radius: 8px;
  background: #fff;
  color: var(--text);
  transition: all 0.25s ease-in-out;
  outline: none;

  &:focus {
    border-color: var(--burntOrange);
  }
}

.buttonSubmit {
  background: var(--burntOrange);
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 14px;
  height: 54px;
  border: none;
  font-weight: 700;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
  position: sticky;
  top: calc(var(--headerHeight) + 80px);
  gap: 24px;
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
