.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
  height: 72px;
  font-size: 1.2rem;
  border-top: 2px solid var(--burntOrange);

  @media (max-width: 768px) {
    font-size: 1rem;
    margin-top: -48px;
  }
}
