.wrapper {
  display: flex;
  align-items: center;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
  }
}

.imgWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 2px solid var(--burntOrange);
  border-radius: 4px;
  padding-top: 18px;
  background-color: #fffcf7;

  @media (max-width: 768px) {
    padding-top: 12px;
  }
}

.img {
  min-width: 0;

  @media (max-width: 768px) {
    max-width: 100%;
    height: auto;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 100%;
  border-bottom: 2px solid var(--burntOrange);
  width: fit-content;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2rem;
    margin: 0 auto;
  }
}

.name {
  font-size: 1.5rem;
  line-height: 100%;
  display: block;
  border-top: 2px solid var(--burntOrange);
  width: 100%;
  text-align: center;
  padding: 18px;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    padding: 12px;
  }
}

.text {
  font-family: var(--secondaryFont);
  font-size: 18px;
  line-height: 180%;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
