.wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: #fbead2;
  padding-block: 64px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-block: 48px;
    gap: 48px;
  }
}

.title {
  font-size: 4.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.raised {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 6rem 3rem;
  box-shadow: 0 0 12px rgba(229, 112, 131, 0.4);
  border-radius: 20px;
  width: fit-content;

  @media (max-width: 768px) {
    padding: 4rem 2rem;
    min-width: 200px;
    width: 100%;
  }
}

.subtitle {
  font-size: 4rem;
  color: var(--watermelon);
  margin: 0;
  padding: 0;
  line-height: 100%;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.text {
  margin-top: 16px;
  font-size: 1.5rem;
  font-family: var(--secondaryFont);

  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.button {
  margin-top: 32px;

  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.textWrapper {
  flex: 1;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.description {
  display: block;
  max-width: 500px;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 1rem;
    max-width: 100%;
  }
}
