.wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: #fbead2;
  padding-block: 64px;
}

.title {
  font-size: 4.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.raised {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 6rem 3rem;
  box-shadow: 0 0 12px rgba(229, 112, 131, 0.4);
  border-radius: 20px;
  width: fit-content;
}

.subtitle {
  font-size: 4rem;
  color: var(--watermelon);
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 24px;
}

.text {
  margin-top: 16px;
  font-size: 1.5rem;
  font-family: var(--secondaryFont);
}

.button {
  margin-top: 32px;
}

.textWrapper {
  flex: 1;
}

.description {
  display: block;
  max-width: 500px;
  font-size: 18px;
}
