.wrapper {
  display: flex;
  gap: 64px;
  width: 100%;
  background-color: #fbead2;
  padding-block: 64px;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding-block: 48px;
    gap: 32px;
  }
}

.subtitle,
.title {
  font-size: 3.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 90px;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.img {
  min-width: 0;
  height: fit-content;
}

.imgWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 12px;
  outline: 3px solid var(--burntOrange);
  height: fit-content;

  &::after {
    content: '';
    border-radius: 12px;
    position: absolute;
    inset: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    transition: all 0.1s ease;
  }

  &:hover {
    .zoom {
      opacity: 1;
    }

    &::after {
      background-color: #fed88540;
    }
  }

  @media (max-width: 768px) {
    border-width: 4px;
    outline-width: 2px;
  }
}

.zoom {
  width: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.1s ease;
  z-index: 1;

  @media (max-width: 768px) {
    width: 48px;
  }
}

.content {
  display: flex;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.subtitle {
  font-size: 1.9rem;
  line-height: 90px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
