.head {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  background-color: #fbead2;
  padding-block: 64px;
}

.title {
  font-size: 4.5rem;
  color: var(--burntOrange);
  background: linear-gradient(
    135deg,
    var(--burntOrange) 0%,
    var(--watermelon) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.text {
  font-size: 1.2rem;
}
